body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid  rgba(54, 52, 52, 0.116);
  margin: 2rem 2rem 2rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  border: 1px solid  rgba(54, 52, 52, 0.116);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  font-weight: 400;
  font-size: 2rem;
}

.iconth {
  margin-right: 2rem;
}

.input-add input {
  margin-left: 2rem;
  width: 100%;
  border: none;
  font-style: italic;
  font-size: 1.5rem;
}

.input-add {
  border: 1px solid  rgba(54, 52, 52, 0.116);
  height: 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.task {
  border: 1px solid  rgba(54, 52, 52, 0.116);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.test::after {
  margin-left: 2rem;
  content: '\2807';
  font-size: 2rem;
}

.check {
  margin: 0 1rem 0 2rem;
}

.edit {
  width: 70%;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
}

.to-do button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 15px;
  border: none;
  font-size: 18px;
}

.clear {
  border: 1px solid  rgba(54, 52, 52, 0.116);
  background-color: rgba(54, 52, 52, 0.062);
  height: 5rem;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.clear button {
  font-size: 1.5rem;
  width: 100%;
  height: 5rem;
  background-color: rgba(54, 52, 52, 0.062);
}
