body {
  box-shadow: 0 2px 2px 2px rgba(109, 97, 97, 0.3);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem 1rem 1rem 1rem;
}

#list_head {
  display: flex;
  align-items: center;
}

#title {
  width: 85%;
  font-size: 1rem;
  padding-top: 1rem;
  margin: 0 1rem 1rem 1rem;
  font-weight: bold;
}

.circlearrows {
  content: "\21BB";
  color: black;
  font-weight: 700;
}

hr {
  margin: 0;
  padding: 0;
  border: solid rgba(139, 121, 121, 0.137);
  border-width: 1px;
}

#addtask {
  display: flex;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 1rem 0 1rem;
}

input {
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  font-style: italic;
}

.task {
  display: flex;
  align-items: center;
  align-content: start;
  justify-content: start;
  margin: 0 1rem 0 0.5rem;
}

.taskdescription {
  margin-left: 1rem;
  width: 90%;
}

.icon::after {
  content: '\2807';
  font-size: 1rem;
}

#clear {
  background-color: rgba(139, 121, 121, 0.219);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: center;
  align-self: center;
  font-size: 1rem;
}
